# 4 cores 8GB memory
#
# The following options will be passed to all MySQL clients
[client]
#password	= your_password
port		= 3306
socket		= /tmp/mysql.sock

# The MySQL server
[mysqld]
port		= 3306
socket		= /tmp/mysql.sock
basedir = /m2odata/server/mysql
datadir = /m2odata/data/mysql
skip-external-locking
skip-name-resolve
character-set-server=utf8
#collation-server=utf8_unicode_ci
wait-timeout = 600
interactive-timeout=600
max_connections = 512
query_cache_size = 0
query_cache_type = 0
default-storage-engine=InnoDB
innodb_buffer_pool_size = 6144M
innodb_buffer_pool_instances = 4
innodb_flush_method = O_DIRECT
innodb_log_file_size = 128M
innodb_old_blocks_time = 1000
innodb_io_capacity = 500
innodb_file_per_table =1
innodb_open_files = 800
innodb_thread_concurrency = 8
slow_query_log = 1
long_query_time = 3
